@charset "utf-8";

/* CSS Document
paleta de cores 
verde: #49a09d
roxo: #5f2c82
*/

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    background-image: linear-gradient(to top, #49a09d, #5f2c82);
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;

}

main{
    height: 100vh;
    width: 100vw;
    position: relative;
    h1{color: #4b2e5f;}
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.429);
    transition: width 0.5s, height 0.5s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}

section#login>div#imagem{
    display: block;
    background: #5f2c82 url(../imagem/pexels-shkrabaanthony-5475752.jpg) no-repeat center;
    background-size: cover;
    background-position: left bottom;
    height: 200px;
}

section#login>div#formulario{
    display: block;
    padding: 10px;

}
div#formulario> h1{
    text-align: center;
    margin-bottom: 10px;
}
div#formulario> p{
    font-size: 0.8em;
}
form>div.campo{
    background-color: #ac84c7b8;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    margin: 5px 0;
}
label{
    display: none;
}

form>input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #5f2c82;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 10px;
}

form>input[type=submit]:hover{
    background-color: #1d4948d5;
    
}
form>a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: white;
    color: #2d6462;
    border: 1px solid #49a09d;
    border-radius: 10px;
    text-decoration: none;

}
form>a.botao:hover{
    background-color: #49a09d;
    color: white;
}
form>a.botao>span{
    font-size: 0.8em;
}
div.campo>span{
    color: black;
    font-size: 1.8em;
    width: 40px;
    padding: 5px;
}
div.campo>input{
    background-color: #ac84c708;
    font-size: 1em;
    height: 100%;
    border: 0px;
    width: calc(100% - 48px);
    
    padding: 3px;
    border-radius: 30px;
    transform: translateY(-7px);
}
div.campo>input:focus{
    background-color: white;
    border: 1px solid #5f2c82;
}